/* HEADER */
header{
    text-align: center;
    background-color: rgb(240, 255, 245);
    margin: 2,5%;
   
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
h1{
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(2, 82, 29);
  font-size: 350%;
}
/* NAV */
nav{
    background-color: rgb(2, 82, 29);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

text-decoration: none; 
}
a{
    color: white;
}
/* MAIN */
main{
   background-image: url(fondomain.jpeg.jpeg);
    margin: 2%; 
}
 