/* HEADER */
header{
    text-align: center;
    background-color: rgb(240, 255, 245);
    margin: 2,5%;
   
}
p{
    font-family: Arial, Helvetica, sans-serif;
}
.title{
    -webkit-text-fill-color: rgb(2, 82, 29);
-webkit-text-stroke: 1px black;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  font-size: 350%;
}
/* NAV */
nav{
    background-color: rgb(2, 82, 29);
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

text-decoration: none; 
}
a{
    color: white;
}
/* MAIN */
main{
   background-image: url(fondomain.jpeg.jpeg);
   background-size: 50%;
    margin: 2%; 
}
.GofresGatti{
    text-align: center;
    -webkit-text-fill-color: rgb(2, 82, 29);
    -webkit-text-stroke: 1px black;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 350%;
}
.Delicias{
    font-size: 180%;
    -webkit-text-fill-color: rgb(0, 0, 0);
-webkit-text-stroke: 1px black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
text-align: center;
}
.Dulce{
    text-align: center;
    font-size: 200%;
   font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
 color: rgb(0, 0, 0);
 text-shadow: 10cap;
}
.title{text-align: center;
    -webkit-text-fill-color: rgb(2, 82, 29);
    -webkit-text-stroke: 1px black;
      font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
      font-size: 250%;

}
.nombreyapellido{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
 color: black;
 background-color: rgb(2, 82, 29);
 padding: 10px;
 margin: 10px;
    font-size: 15px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}
.menu{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
 color: black;
 background-color: rgb(2, 82, 29);
 padding: 10px;
margin-left: 550px;
    font-size: 15px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}
.date{
  text-align: center;
 background-color: rgb(2, 82, 29);
 padding: 10px;
 margin: 10px;
    font-size: 15px;
    border-width: 3px;
    border-color: black;
    border-style: solid;

}
.uno{ color: white;

}
.dia{   font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
 color: black;

}
.turno{  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
 color: black;
 background-color: rgb(2, 82, 29);
 padding: 10px;
 margin: 10px;
    font-size: 15px;
    border-width: 3px;
    border-color: black;
    border-style: solid;
}
.turno2{  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
 color: black;

 padding: 3px;
 margin: 3px;
    font-size: 15px;


}
 
.eso{ 
    margin-right: 500px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
 color: black;
 background-color: rgb(2, 82, 29);
 padding: 10px;
 margin: 10px;
    font-size: 15px;
    border-width: 3px;
    border-color: black;
    border-style: solid;

}
 

/* FOOTER */
footer{
    
    background-color: rgb(2, 82, 29) ;
    margin: 2,5%;
    text-align: center
}
.thanks{ font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: black;
    text-align: center;
    font-size: 150%;
}
.copyright{
    font-family: Arial, Helvetica, sans-serif;
    color: black;
    text-align: center;
    font-size: 90%;
}